

.content-header{
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80px;
}
.content-header > div {
  margin-top: 20px;
}

input{
  margin-top: 5px;
  width: 250px;
  height: 35px;
  margin-left: 10px;
  border-radius: 5px;
  border-color: 1px solid black;
  text-align: center;
}




.card{
  width: 20%;
  height: fit-content;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.img-card{
  width: 300px;
  height: 200px;
  margin: 0px auto;
}

.content-paginator{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttonPaginator{
  width: 100px;
  height: 35px;
  background: black;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
}